<div class="beers">

  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Devils Cup" #input>
  </mat-form-field>

  <mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>


    <ng-container matColumnDef="avatar">
      <mat-header-cell *matHeaderCellDef> Avatar </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <img class="img" [src]="beerBrands[1]?.image" alt="Image Brand">
      </mat-cell>
    </ng-container>


    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element?.id}} </mat-cell>
    </ng-container>


    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element?.name}} </mat-cell>
    </ng-container>


    <ng-container matColumnDef="abv">
      <mat-header-cell *matHeaderCellDef mat-sort-header> abv </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.abv}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="style">
      <mat-header-cell *matHeaderCellDef mat-sort-header> style </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element?.style}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="ibu">
      <mat-header-cell *matHeaderCellDef mat-sort-header> ibu </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.ibu}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="ounces">
      <mat-header-cell *matHeaderCellDef mat-sort-header> ibu </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.ounces}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20, 100]"></mat-paginator>

</div>